
<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>BiblioCare</title> 
    <meta http-equiv="Content-Type" content="text/json; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="css.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.birds.min.js" integrity="sha512-iIWwQewCNqw+4f09oyZvCkBUNEuVfCSOtFzQW6dzvsm46yuToWTcL9uUEAyTnV0fG90jyCiiURE4yEgLclpoZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body id="body">
    <div class="head">
        <h1 class="title">BiblioHub</h1>
    </div> 
        <div class="container-fluid2">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/allressources">Ressources</a>
                    <a class="nav-link" href="/all">Utilisateurs</a>
                    <a class="d-btn" th:href="@{/logout}" tabindex="-1" aria-disabled="true">Déconnexion</a>
        </div>
        
        <div class="userscontainer">
            <div th:each="utilisateurs:${utilisateurs}" class="usercard hide" id="card">
                
                    <img th:src="@{images/hean.png}" alt=" ">
                    <span th:text="${utilisateurs.nom}" class="name"></span>
                    <div class="infos">
                        <span th:text="${utilisateurs.prenom}"class="surname"></span>
                        <span th:text="${utilisateurs.idutilisateur}" class="id"></span>
                        <span th:text="${utilisateurs.email}" class="email"></span>
                        <span th:text="${utilisateurs.password}" class="password"></span>
                        <span th:text="${utilisateurs.telephone}" class="phone"></span>
                        <span class="gestion">
                            <a th:href="@{/delete/{id} (id=${utilisateurs.idutilisateur})}" class="del-btn">Supprimer</a>
                            <a th:href="@{/edit/{id}?id={id} (id=${utilisateurs.idutilisateur})}" class="mod-btn">Modifier</a>
                        </span>
                    </div>      
            </div>
            <div th:if="${utilisateur.idutilisateur} == null" class="usercard form">
                <form th:action="@{/newUser}" th:object="${utilisateur}" method="POST" class="form">
                        <span><label for="floatingInputValue"></label><input type="text" th:field="*{nom}" class="form-control" placeholder="nom" value="nom"></span>
                        <span><label for="floatingInputValue"></label><input placeholder="prenom" type="text" th:field="*{prenom}" class="form-control"></span>
                        <span><label for="floatingInputValue"></label><input placeholder="email" type="email" th:field="*{email}" class="form-control"></span>
                        <span><label for="floatingInputValue"></label><input type="text" placeholder="mot de passe" th:field="*{password}" class="form-control"></span>
                        <span><label for="floatingInputValue"></label><input type="tel" placeholder="Telephone" th:field="*{telephone}" class="form-control"></span>
                    <input type="submit" value="Enregistrer Utilisateur" class="p-btn"></span>
                    
                </form>
            </div>

        </div>
        <table class="table">
            <tfoot>
                
                <span th:if="${utilisateur.idutilisateur} != null">
                    <form th:action="@{/update/{id} (id=${utilisateur.idutilisateur})}" th:object="${utilisateur}" method="POST" class="form-floating">
                        <tr>
                                <span colspan="7" class="text-center display-4">Quelles sont les nouvelles valeurs ?</span> 
                        </tr>
                        <tr>
                            <span><label for="floatingInputValue">Nom</label><input type="text" th:field="*{nom}" class="form-control"></span>
                            <span><label for="floatingInputValue">Prenom</label><input type="text" th:field="*{prenom}" class="form-control"></span>
                            <span><label for="floatingInputValue">Email</label><input type="email" th:field="*{email}" class="form-control"></span>
                            <span><label for="floatingInputValue">Mot de Passe</label><input type="text" th:field="*{password}" class="form-control"></span>
                            <span><label for="floatingInputValue">Telephone</label><input type="tel" th:field="*{telephone}" class="form-control"></span>
                        </tr>
                          
                        <tr>
                            <span colspan="7" class="text-center"><input type="submit" value="Modifier" class="btn btn-secondary rounded-pill"></span>>
                        </tr>  
                    </form>
                </span>  
            </tfoot>
        </table>
    </div>
</body>

<script src="js.js"></script>
</html>