
<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>BiblioCare</title> 
    <meta http-equiv="Content-Type" content="text/json; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h1 class="display-1 ">BiblioHub</h1>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/allressources">Ressources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Utilisateurs</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-success" th:href="@{/logout}" tabindex="-1" aria-disabled="true">Déconnexion</a>
                  </li>
                </ul>
              </div>
        </div>
    </nav>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col"  th:each="index:${ressources} ">
            <div class="card">
                <img width="100" th:src="@{images/img2.png}" class="img-fluid" alt="...">
                <div class="card-body">
                  <label>Titre :</label><h5 class="card-title text-center" th:text="${index.titre}"></h5>
                  <label>Code barre :</label><p class="card-text" th:text="${index.code_barre}"></p>
                  <label>caution:</label><p class="card-text" th:text="${index.caution}"></p>
                  <label>Nombre de pages :</label><p class="card-text" th:text="${index.nbrepages}"></p>
                  <label>Etat :</label><p class="card-text" th:text="${index.etat}"></p>
                  <label>Rubrique :</label><p class="card-text" th:text="${index.rubrique}"></p>
                  <label>Nombre d'exemplaires :</label><p class="card-text" th:text="${index.nbredexemplaires}"></p>
                  <label>Résumé :</label><p class="card-text" th:text="${index.resume}"></p>

                  <a th:href="@{/deleteressource/{id} (id=${index.idres})}" class="btn btn-danger">Supprimer</a>
                  <a th:href="@{/updateressource/{id} (id=${index.idres})}" class="btn btn-secondary">Editer</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <img width="100" th:src="@{images/img2.png}" class="img-fluid" alt="...">
                <div class="card-body">
                    <form th:action="@{/addressource}" th:object="${ressource}" method="POST">
                        <input type="text" th:field="*{titre}" placeholder="Titre" class="card-title">
                        <input type="number" th:field="*{code_barre}" placeholder="Code Barre" class="card-text">
                        <input type="number" th:field="*{caution}" placeholder="Caution" class="card-text">
                        <input type="number" th:field="*{nbrepages}" placeholder="Nombre de Pages" class="card-text">
                        <input type="text" th:field="*{etat}" placeholder="Etat" class="card-text">
                        <input type="text" th:field="*{rubrique}" placeholder="Rubrique" class="card-text">
                        <input type="number" th:field="*{nbredexemplaires}" placeholder="Nombre d'explemplaires" class="card-text">
                        <input type="text" th:field="*{resume}" placeholder="Résumé" class="card-text">
                        <p><input class="btn btn-primary" value="Enregistrer" type="submit"></p>
                    </form>
                </div>
              </div>
        </div>
    </div>
    <p>
        <div class="align-self-center">
               
        </div>
    </p>
</body>
</html>