
<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>BiblioCare</title> 
    <meta http-equiv="Content-Type" content="text/json; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="css.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.birds.min.js" integrity="sha512-iIWwQewCNqw+4f09oyZvCkBUNEuVfCSOtFzQW6dzvsm46yuToWTcL9uUEAyTnV0fG90jyCiiURE4yEgLclpoZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
</head>
<body id="body">
  <div class="head">
    <h1 class="title">BiblioHub</h1>
  </div> 
        <div class="container-fluid2">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/allressources">Ressources</a>
                    <a class="nav-link" href="/all">Utilisateurs</a>
                    <a class="d-btn" th:href="@{/logout}" tabindex="-1" aria-disabled="true">Déconnexion</a>
        </div>
    <div class="userscontainer">
        <div th:each="index:${ressources} " class="usercard hide book" id="card">
                <img th:src="@{images/img2.png}"alt="...">
                <span class="name" th:text="${index.titre}"></span>
                <div class="infos">
                  
                  <span th:if="${#fields.hasErrors('ressource.titre')}" th:errors="*{ressource.titre}" class="alert">error</span>
                  <span class="money" th:text="${index.caution}"></span>
                  <p th:text="${index.nbrepages}"></p>
                  <label>Etat :</label><p class="card-text" th:text="${index.etat}"></p>
                  <label>Rubrique :</label><p class="card-text" th:text="${index.rubrique}"></p>
                  <label>Nombre d'exemplaires :</label><p class="card-text" th:text="${index.nbredexemplaires}"></p>
                  <span class="resume" th:text="${index.resume}"></p>
                  <div class="gestion">
                    <a th:href="@{/deleteressource/{id} (id=${index.idres})}" class="del-btn">Supprimer</a>
                  </div>
                  
                <!-- <a th:href="@{/updateressource/{id} (id=${index.idres})}" class="btn btn-secondary">Editer</a>-->  
                </div>

        </div >
        <div class="usercard form">
                    <form th:action="@{/addressource}" th:object="${ressource}" method="POST" class="form">
                        <input type="text" th:field="*{titre}" placeholder="Titre" class="card-title form-control">
                    
                        <input type="number" th:field="*{caution}" placeholder="Caution" class="card-text form-control mb-2">
                        <input type="number" th:field="*{nbrepages}" placeholder="Nombre de Pages" class="card-text form-control mb-2">
                        <input type="text" th:field="*{etat}" placeholder="Etat" class="card-text form-control mb-2">
                        <input type="text" th:field="*{rubrique}" placeholder="Rubrique" class="card-text form-control mb-2">
                        <input type="number" th:field="*{nbredexemplaires}" placeholder="Nombre d'explemplaires" class="card-text form-control mb-2">
                        <input type="text" th:field="*{resume}" placeholder="Résumé" class="card-text form-control mb-2">
                        <p><input class="p-btn" value="Enregistrer" type="submit"></p>
                    </form>
        </div>
    </div>
    <p>
        <div class="align-self-center">
               
        </div>
    </p>
</body>
<script src="js.js"></script>
</html>