
<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>BiblioCare</title> 
    <meta http-equiv="Content-Type" content="text/json; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="./css.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.birds.min.js" integrity="sha512-iIWwQewCNqw+4f09oyZvCkBUNEuVfCSOtFzQW6dzvsm46yuToWTcL9uUEAyTnV0fG90jyCiiURE4yEgLclpoZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body id="body">
  <header th:fragment="header">
    <div class="header_menu">
      <a href="/">Home</a>
      <a href="/all">Gestion</a>
      <a href="#" th:if="${principal != null}" >panier</a>
      <a href="#" id="connexion_btn" class="">Connexion</a>
      <div class="connexion_form">
        <form th:action="@{/doLogin}" class="form" method="POST">
            <input type="text" placeholder="Utilisateur" name="nom"
            class="text-zone"><p></p>
            
          <!--<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-white"> Ce nom n'existe pas</span> --> 
            <input type="password" placeholder="Mot de Passe" name="password" 
            class="text-zone"><p></p>
            <input type="submit" value="Se connecter" class="p-btn">         
        </form>
      </div>
    </div>
  </header>
  <main>
    <div class="head">
      <div class="front">
        <span class="title">RebelBooks</span>
        <p> Défiez l'ordinaire, lisez extraordinairement</p>
      </div>
      <!--Background Image-->
      <img src="./images/lib2.jpg" alt="logo">
    </div>

    <div class="books" th:fragment="books">
      <div class="book"  th:each="book:${ressources} ">
        <div class="up">
          <img width="100" th:src="${book.image}" class="img-fluid" alt="...">
          <p th:text="${book.titre}"></p>
        </div>
        
        
        <div class="book-body">
          <p><span class="pages" th:text="${book.nbrepages}"></span> pages</p>
          <p class="rubrique" th:text="${book.rubrique}"></p>
          <p class="resume" th:text="${book.resume}"></p>
        </div>
      </div>
    </div>

  </main>

     
</body>
<footer class="citationr">
  <span th:text="${session}"></span>
</footer>
<script src="js.js"></script>
</html>